.tasks {
	min-height: var(--task-size);
	display: grid;
	align-content: start;
	gap: 0.5rem;

	& > * {
		background: #fff;
		border-radius: 0.25rem;
		padding: 0.875rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		position: relative;
		min-height: var(--task-size);
	}
}

.task {
	cursor: move;
	transition: 0.3s;

	&.dragging {
		cursor: move;
		box-shadow: none;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
		background: var(--secondary-color);
		opacity: 0.4;
	}
	/* & * {
			opacity: 0.6;
		} */
	&.dragging * {
		/* visibility: visible !important; */
		opacity: 1;
	}

	&:not(.dragging):hover {
		background: var(--task-color);
	}

	& menu {
		margin-top: 0.875rem;
		display: flex;
		justify-content: flex-end;
		gap: 0.5rem;
	}

	& button {
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.25rem;
	}
}

.task-input {
	outline: none;
	overflow-wrap: anywhere;

	padding-left: 2.5rem;
	position: relative;

	&:before {
		content: '\F392';
		font-family: 'bootstrap-icons';
		position: absolute;
		left: 0.875rem;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.5;
	}

	&:empty::after {
		content: attr(data-placeholder);
		opacity: 0.5;
		position: absolute;
		left: 2.25rem;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}
}
